*{
    scroll-behavior: smooth;
}
body {
    margin: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
   
}
@font-face {
    font-family: Extenda;
    src: url(extenda-30-deca.otf);
}
.sidebar {
    height: 100%;
    position: fixed;
    right: 0em;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.navigation {
    display: flex;
    transform: rotate(90deg);
    flex-direction: row-reverse;
    font-family: 'Bebas Neue', sans-serif;
    padding-bottom: 17.5em;
    padding-right: 6em;
    font-size: 2em;
    
}
.navigation > a{
    padding-left: 2rem;
    color: black;
    text-decoration-line: none;
}
/* navbar hover style */
.sidebar > .navigation > a::after{
    content: ' ';
    display: block;
    height: 3px;
    width: 0;
    border-radius: 5px;
    background: black;
    transition: .6s;
}
.sidebar > .navigation > a:hover::after{
    width: 100%;
}
.sidebar > img{
    position: absolute;
    left: 63%;
    bottom: 2%;
    width: 60%;
}
.fa-barcode{
    display: none;
}

#main {
    width: 94%;
    height: 100vh;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
   
    scroll-behavior: smooth;
}
#main > img {
    padding-right: 5em;
}
#desc{
    width: 94%;
    height: 40vh;
    font-family: 'Bebas Neue', sans-serif;
    background: #fff;
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
}
#desc > div{
    display:flex;
    align-items:center;
    justify-content:center;

}
#gallery{
    display: flex;
    width: 94%;
    flex-wrap: wrap;
}
#gallery > img{
    width: 30em;
    flex-grow: 2;
    height: 70vh;
}
#events{
    width: 94%;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-behavior: smooth;
}
.imagecard{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 5em;
    height: 5em;
    color: white;
    align-items: center;
}
.imagecard::before{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(Images/Images/Copy\ of\ WhatsApp\ Image\ 2023-07-04\ at\ 5.42.33\ PM.jpeg);
    background-size: cover;
}
.imagecard1{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 5em;
    height: 5em;
    color: white;
    align-items: center;
}
.imagecard1::before{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(Images/Images/WhatsApp\ Image\ 2023-07-04\ at\ 5.42.34\ PM\ \(1\).jpeg);
    background-size: cover;
}
.imagecard2{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 5em;
    height: 5em;
    color: white;
    align-items: center;
}
.imagecard2::before{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(Images/Images/WhatsApp\ Image\ 2023-07-04\ at\ 5.42.34\ PM.jpeg);
    background-size: cover;
}
.info {
    font-family: 'Poppins', sans-serif;
    visibility: hidden;
    z-index: 5;
    font-size:0.4em;
    padding:1em;
    transform: translateY(50px);
}
.Date {
    font-family: 'Bebas Neue', sans-serif;
    visibility: hidden;
    font-size: 0.5em;
    transform: translateY(50px);
    z-index: 5;
}
.imagecontainer > span{
    font-family: 'Poppins', sans-serif;
    font-size: 0.5em;
    font-weight: 600;
}
.button {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: black;
    border: 2px solid black;
    border-radius: 34px;
    text-decoration-line: none;
    font-family: 'Poppins', sans-serif;;
    background-color: white;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
  }
  
  .button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: rgb(0,0,0);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .button:hover::before {
    scale: 3;
  }
  
  .button:hover {
    color: white;
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
  }
  
  .button:active {
    scale: 1;
  }
.BookNow{
    font-family: 'Poppins', sans-serif;
    text-decoration-line: none;
    color: black;
    font-size: 0.3em;
}
@keyframes rise {
    100%{
        transform: translateY(0px);
    }
}
 .imagecontainer:hover > .imagecard::before{
    filter: brightness(0.2);
}
.imagecontainer:hover > .imagecard > .info{
    visibility: visible;
    animation-name: rise;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}
.imagecontainer:hover > .imagecard > .Date{
    visibility: visible;
    animation-name: rise;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}
.imagecontainer:hover > .imagecard1::before{
    filter: brightness(0.2);
}
.imagecontainer:hover > .imagecard1 > .info{
    visibility: visible;
    animation-name: rise;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}
.imagecontainer:hover > .imagecard1 > .Date{
    visibility: visible;
    animation-name: rise;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}
.imagecontainer:hover > .imagecard2::before{
    filter: brightness(0.2);
}
.imagecontainer:hover > .imagecard2 > .info{
    visibility: visible;
    animation-name: rise;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}
.imagecontainer:hover > .imagecard2 > .Date{
    visibility: visible;
    animation-name: rise;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}
.Title{
    font-family: Extenda;
    font-size: 6em;
    padding-top: 0.5em;
    padding-bottom: 0.7em;
}
.eventcontainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 2em;
    width: 100%;
}
/* .eventcontainer > div {
    width: 25%;
} */
.imagecontainer > img{
    width: 100%;
}
.imagecontainer{
 /*    width: 25%; */
    z-index: 5;
    display: flex;
    height: 60vh;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    font-family: Extenda;
    font-size: 4em;
}
#video{
    width: 94%;
}

#footer{
    height: auto;
    width: 100%;
    position: relative;
    z-index: 5;
    font-family:'Poppins', sans-serif ;
    background: #000;
    color: #fff;
}

.footercontent{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    
}

.footercontent > .icons{
    display: flex;
    justify-content: space-between;
    width: 20%;
    font-size: 1rem;
    padding-top:3em;
    
    

}
    .footercontent > .image > img {
        position: relative;
        width: 4rem;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        display: flex;
        justify-content: center;
    }
.footercontent > .icons > a:hover{
    color: #d2b933;
    
}
    .footercontent > .icons > .insta {
        color: #fff;
        text-decoration: none;
       
       
    }
    .footercontent > .icons > .envelope {
        color: #fff;
        text-decoration: none;
       
      
    }
    .footercontent > .icons > .fb {
        color: #fff;
        text-decoration: none;
 
    }
#footer > .devs{
    margin: 0 0 0 93%;
    font-family: 'Bebas Neue', sans-serif;
}

