*{
    scroll-behavior: smooth;
}
body {
    margin: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
   
}
@font-face {
    font-family: Extenda;
    src: url(extenda-30-deca.otf);
}
.sidebar {
    height: 100%;
    position: fixed;
    right: 0em;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.navigation {
    display: flex;
    transform: rotate(90deg);
    flex-direction: row-reverse;
    font-family: 'Bebas Neue', sans-serif;
    padding-bottom: 18.5em;
    padding-right: 9em;
    font-size: 2em;
    
}
.navigation > a{
    padding-left: 2rem;
    color: black;
    text-decoration-line: none;
}
/* navbar hover style */
.sidebar > .navigation > a::after{
    content: ' ';
    display: block;
    height: 3px;
    width: 0;
    border-radius: 5px;
    background: black;
    transition: .6s;
}
.sidebar > .navigation > a:hover::after{
    width: 100%;
}
.sidebar > img{
    position: absolute;
    left: 63%;
    bottom: 2%;
    width: 60%;
}
.fa-barcode{
    display: none;
}

#main {
    width: 94%;
    height: 100vh;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
   
    scroll-behavior: smooth;
}
#main > img {
    padding-right: 5em;
}
#desc{
    width: 94%;
    height: 40vh;
    font-family: 'Bebas Neue', sans-serif;
    background: #fff;
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
}
#desc > div{
    display:flex;
    align-items:center;
    justify-content:center;

}
#gallery{
    display: flex;
    width: 94%;
    flex-wrap: wrap;
}
#gallery > img{
    width: 30.9vw;
    flex-grow: 2;
    height: 70vh;
}
#events{
    width: 94%;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-behavior: smooth;
}
.Title{
    font-family: Extenda;
    font-size: 6em;
    padding-top: 0.5em;
    padding-bottom: 0.7em;
}
.eventcontainer{
    display: flex;
    justify-content: space-around;
    padding-bottom: 2em;
}
.eventcontainer > div {
    width: 25%;
}
.imagecontainer > img{
    width: 100%;
}
.imagecontainer{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Extenda;
    font-size: 4em;
}
#video{
    width: 94%;
}

#footer{
    height: auto;
    width: 100%;
    position: relative;
    z-index: 5;
    font-family:'Poppins', sans-serif ;
    background: #000;
    color: #fff;
}

.footercontent{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    
}
#footer >.footercontent > h3{
    font-family: Extenda;
    font-size: 6rem;
    margin: 0;
    font-weight: 500;
    
}
.footercontent > .icons{
    display: flex;
    justify-content: space-between;
    width: 70%;
    font-size: 3rem;
    

}
.footercontent > .icons> .image> img{
    position: relative;
    width: 8rem;
    padding-right: 1.8em;
}
.footercontent > .icons > a:hover{
    color: #d2b933;
    
}
.footercontent > .icons > .insta{
    color: #fff;
    text-decoration: none;
    
}
.footercontent > .icons > .envelope{
    color: #fff;
    text-decoration: none;
    
}
#footer > .devs{
    margin: 0 0 0 93%;
    font-family: 'Bebas Neue', sans-serif;
}

/* .policy{
    /* padding-right: 12em; 
} */
/* display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2em;
    width: 122.5%;
    height: 13%;
    transform: rotate(90deg);
    position: fixed; */