@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    scroll-behavior: smooth;
  
}
@font-face {
    font-family: Extenda;
    src: url(extenda-30-deca.otf);
}
body {
    margin: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.sidebar {
    height: 100%;
    position: fixed;
    right: 0em;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navigation {
    display: flex;
    transform: rotate(90deg);
    flex-direction: row-reverse;
    font-family: 'Bebas Neue', sans-serif;
    padding-bottom: 18.5em;
    padding-right: 9em;
    font-size: 2em;
    
}

    .navigation > a {
        padding-left: 2rem;
        color: black;
        text-decoration-line: none;
       
    }
    .sidebar > .navigation > a::after{
        content: ' ';
        display: block;
        height: 3px;
        width: 0;
        border-radius: 5px;
        background: black;
        transition: .8s;
    }
    .sidebar > .navigation > a:hover::after{
        width: 100%;
    }
    .sidebar > img{
        position: absolute;
        left: 63%;
        bottom: 2%;
        width: 60%;
    }
.navigation .fa-barcode {
   display:none;
  
}
.main {
    width: 94%;
    height: 100vh;
    padding-top: 2em;
    margin-bottom: 1em;
    /*background-image: url("2crop.png");*/
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.title {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 200;
    font-size: 2em;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}
.content {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.3em;
    padding-top: 1em;
    padding-bottom: 4em;
    padding-left: 1em;
    padding-right: 1em;
}
