@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    scroll-behavior: smooth;
  
}

@font-face {
    font-family: Extenda;
    src: url(extenda-30-deca.otf);
}

body {
    margin: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background: var(--primary-color);
   
}
.menubar{
    display: none;
}
.headeronextra{
    animation: displaydown 0.6s forwards;
}
.headeroffextra{
    animation: displayup 0.2s forwards;
}
@keyframes displaydown {
    0%{
        height: 0em;
    }
    100%{
        height: 9.5em;
    }
}
@keyframes displayup {
    0%{
        height: 7em;
    }
    100%{
        height: 0;
    }
}
.sidebar {
    height: 100%;
    position: fixed;
    right: 0em;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navigation {
    display: flex;
    transform: rotate(90deg);
    flex-direction: row-reverse;
    font-family: 'Bebas Neue', sans-serif;
    padding-bottom: 18.5em;
    padding-right: 6em;
    font-size: 2em;
    
}

    .navigation > a {
        padding-left: 2rem;
        color: var(--secondary-color);
        text-decoration-line: none;
    }
    /* navbar hover style */
.sidebar > .navigation > a::after{
    content: ' ';
    display: block;
    height: 3px;
    width: 0;
    border-radius: 5px;
    background: var(--secondary-color);
    transition: .6s;
}
body > .dark{
    display: none;
    overflow-y: hidden;
}
body > .dark > .circle{
    overflow-y: hidden;
    display: block;
    height: 30px;
    width: 30px;
    left: 41.25rem;
    bottom: 10.5rem;
    border-style: solid;
    border-width: 3px;
    border-radius: 50%;
    border-color: var(--secondary-color);
    cursor: pointer;
    color: var(--secondary-color);
    background: var(--primary-color);
    transition: .5s ease-in-out;
}
.headeron > a::after{
    content: ' ';
    display: block;
    height: 3px;
    width: 0;
    border-radius: 5px;
    background: rgb(45, 45, 45);
    transition: .6s;
}
.sidebar > .navigation > a:hover::after,.headeron > a:hover::after{
    width: 100%;
}
.sidebar > .navigation > a.active::after{
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background: var(--secondary-color);
  }
  .headeron > a.active::after{
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background: white;
  }
    .sidebar > img{
    position: absolute;
    left: 63%;
    bottom: 2%;
    width: 60%;
}

    .navigation .fa-barcode {
        display: none;
    }
    .sidebar > img{
        position: absolute;
        left: 63%;
        bottom: 2%;
        width: 60%;
    }
    .sidebar > .dark > .circle{
        height: 30px;
        display: block;
        position: relative;
        width: 30px;
        left: 41.25rem;
        bottom: 10.5rem;
        border-style: solid;
        border-width: 3px;
        border-radius: 50%;
        border-color: var(--secondary-color);
        cursor: pointer;
        color: var(--primary-color);
        background: var(--secondary-color);
        transition: .5s ease-in-out;
    }
    .sidebar .dark .circle .fa-moon,body .dark .circle .fa-moon{
        position: relative;
        top: 22%;
        left: 30%;
    }
    .sidebar > .dark > .circle:hover{
        background: var(--primary-color);
        color: var(--secondary-color);
        
    }
    .fa-bars{
        color: var(--secondary-color);
    }
#main {
    width: 94%;
    /* height: 80vh; */
    background: var(--primary-color);
    scroll-behavior: smooth;
    padding-bottom: 6em;
}

    #main > img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;

    }
.desccontent {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
   justify-content:center;
   align-items:center;
    left: 8%;
    flex-wrap: wrap;
}
.whoarewepargraph {
   padding-right:1em;
   padding-left:1em;
    top: 5%;
    left: 10%;
    font-size: 1.3em;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: var(--secondary-color);
 
}
.programsimg > img {
    z-index:5;
    padding-bottom:3em;
}
.whoarewepargraph > span {
    font-weight: 800;
    font-size: 3em;
    color: #d2b933;
    font-family: 'Poppins', sans-serif;
}
#footer {
    height: auto;
    width: 100%;
    position: relative;
    z-index: 5;
    font-family: 'Poppins', sans-serif;
    background: white;
    color: black;
}

.footercontent {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    font-weight: 500;
}

    .footercontent > .image > img {
        position: relative;
        width: 8rem;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        display: flex;
        justify-content: center;
    }

    .footercontent > .icons > a:hover {
        color: #d2b933;
    }

    .footercontent > .icons > .insta {
        color: black;
        text-decoration: none;
    }

#footer > .devs {
    margin: 0 0 0 93%;
    font-family: 'Bebas Neue', sans-serif;
    text-decoration-line: none;
    color: black;
    font-weight: 500;
    display: block;
}

    #footer > .devs:hover {
        color: #d2b933;
        cursor: pointer;
    }
.teapic>img {
    width: 30vw;
}
.gallery > img {
    width: 40em;
    padding-bottom: 2em;
    height: 30em;
    
}
.imgleft {
    border-radius: 1em;
    border-bottom-right-radius: 20em;
    border-bottom-left-radius: 3em;
}
.imgright {
    border-radius: 1em;
    border-bottom-left-radius: 20em;
    border-bottom-right-radius: 3em;
}
.gallery {
    width: 94%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.gallerytxt {
    width: 45%;
    font-family: 'Poppins', sans-serif;
    font-size:2em;
    font-weight:500;
    text-align:left;
    padding-top:5em;
    color: var(--secondary-color);
}
.button {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    border-radius: 34px;
    text-decoration-line: none;
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-color);
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
    width: 50px;
}

    .button::before {
        content: '';
        position: absolute;
        inset: 0;
        margin: auto;
        width: 50px;
        height: 50px;
        border-radius: inherit;
        scale: 0;
        z-index: -1;
        background-color: var(--secondary-color);
        transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    }

    .button:hover::before {
        scale: 3;
    }

    .button:hover {
        color: var(--primary-color);
        scale: 1.1;
        box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
    }

    .button:active {
        scale: 1;
    }

.joinus {
    font-family: 'Bebas Neue', sans-serif;
    text-decoration-line: none;
    color: var(--secondary-color);
    font-size: 4em;
}
.apply{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding-bottom:5em;
}
/* Mobile */
@media (max-width:767px) {
    body > .dark{
        display: block;
        /*margin-top: 90vh;*/
        margin-left: 3vw;
        bottom:3%;
        
        position: fixed;
        z-index: 20;
    }
    body > .dark >.circle{
        height: 50px;
        width: 50px;
    }
    .fa-moon::before{
        font-size: 1.7em;
    }
    .fa-sun::before{
        font-size: 1.7em;
    }
    .menubar{
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 100%;
        z-index: 20;
    }
    .headeroff{
        padding: 1em;
        background-color: var(--primary-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .headeroff > img{
        zoom: 0.3;
    }
    .headeron{
        padding: 0 1em;
        background-color: rgb(45, 45, 45);
        z-index: 10;
        display: none;
        max-height: 9.5em;
        overflow-y: hidden;
        flex-direction: column;
        align-items: flex-start;
    }
    #Homebutton{
        margin-top: 1em;
    }
    #Policybutton{
        margin-bottom: 1em;
    }
    #main{
        padding-top: 5em;
    }
    #main,#apply,.gallery{
        width: 100%;
    }
    .whoarewepargraph > span{
        font-size: 1.1em;
    }
    .headeron > a{
        color: white;
        font-size: 1.2em;
        padding-bottom: 0.2em;
        text-decoration-line: none;
        font-family: 'Bebas Neue' ,sans-serif;
    }
    .gallery > img{
        width: 25em;
        height: 15em;
        border-radius: 0em;
        padding: 2em;
    }
    .gallerytxt{
        padding-top: 1em;
        padding-bottom: 1em;
        font-size: 1.5em;
        width: 75%;
        text-align: start;
    }
    #apply{
        padding-top: 4em;
    }
    .footercontent > .icons {
        width: 75%;
    }

    #footer > .devs {
        padding-top: 2em;
        margin: 0 0 0 70%;
    }

    .sidebar {
        display:none;
    }
    ::-webkit-scrollbar {
        display: none;
       }
}
/* Small screen */
@media (min-width:768px) and (max-width:991px) {
    body > .dark{
        display: block;
        /*margin-top: 90vh;*/
        margin-left: 3vw;
        bottom:3%;
        
        position: fixed;
        z-index: 20;
    }
    body > .dark >.circle{
        height: 50px;
        width: 50px;
    }
    .fa-moon::before{
        font-size: 1.7em;
    }
    .fa-sun::before{
        font-size: 1.7em;
    }

    .menubar{
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 100%;
        z-index: 20;
    }
    .headeroff{
        padding: 1em;
        background-color: var(--primary-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .headeroff > img{
        zoom: 0.3;
    }
    .headeron{
        padding: 0 1em;
        background-color: rgb(45, 45, 45);
        z-index: 10;
        display: none;
        max-height: 9.5em;
        overflow-y: hidden;
        flex-direction: column;
        align-items: flex-start;
    }
    #Homebutton{
        margin-top: 1em;
    }
    #Policybutton{
        margin-bottom: 1em;
    }
    #main{
        padding-top: 5em;
    }
    #main,#apply,.gallery{
        width: 100%;
    }
    .whoarewepargraph > span{
        font-size: 1.1em;
    }
    .headeron > a{
        color: white;
        font-size: 1.2em;
        padding-bottom: 0.2em;
        text-decoration-line: none;
        font-family: 'Bebas Neue' ,sans-serif;
    }
    .gallery > img{
        border-radius: 4em;
        padding: 2em;
    }
    .gallerytxt{
        padding-top: 1em;
        padding-bottom: 1em;
        font-size: 1.5em;
        width: 75%;
        text-align: start;
    }
    #apply{
        padding-top: 4em;
    }
    .footercontent > .icons {
        width: 75%;
    }

    #footer > .devs {
        padding-top: 2em;
        margin: 0 0 0 85%;
    }

    .sidebar {
        display: none;
    }
    ::-webkit-scrollbar {
        display: none;
       }
}
/*Between medium*/
@media (min-width:992px) and (max-width:1024px){
body > .dark{
        display: block;
        /*margin-top: 90vh;*/
        margin-left: 3vw;
        bottom:3%;
        
        position: fixed;
        z-index: 20;
    }
    body > .dark >.circle{
        height: 50px;
        width: 50px;
    }
    .fa-moon::before{
        font-size: 1.7em;
    }
    .fa-sun::before{
        font-size: 1.7em;
    }
    .sidebar {
        display: none;
    }
    .menubar{
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 100%;
        z-index: 20;
    }
    .headeroff{
        padding: 1em;
        background-color: var(--primary-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .headeroff > img{
        zoom: 0.3;
    }
    .headeron{
        padding: 0 1em;
        background-color: rgb(45, 45, 45);
        z-index: 10;
        display: none;
        max-height: 9.5em;
        overflow-y: hidden;
        flex-direction: column;
        align-items: flex-start;
    }
    #Homebutton{
        margin-top: 1em;
    }
    #Policybutton{
        margin-bottom: 1em;
    }
    #main{
        padding-top: 5em;
    }
    #main,#apply,.gallery{
        width: 100%;
    }
    .whoarewepargraph > span{
        font-size: 1.1em;
    }
    .headeron > a{
        color: white;
        font-size: 1.2em;
        padding-bottom: 0.2em;
        text-decoration-line: none;
        font-family: 'Bebas Neue' ,sans-serif;
    }
    .gallery > img{
        border-radius: 4em;
        padding: 2em;
    }
    .gallerytxt{
        padding-top: 1em;
        padding-bottom: 1em;
        font-size: 1.5em;
        width: 75%;
        text-align: start;
    }
    #apply{
        padding-top: 4em;
    }

}
/* Medium screen */
@media (min-width: 992px)and (max-width:1280px) {
    .navigation {
        padding-bottom: 23.5em;
        padding-right: 10em;
    }
    .sidebar>img {
        left: 63.5%;
    }
    .gallery > img{
        border-radius: 4em;
        padding: 2em;
    }
    .gallerytxt{
        padding-top: 1em;
        padding-bottom: 1em;
        font-size: 1.5em;
        width: 75%;
        text-align: start;
    }
    .footercontent > .icons {
        width: 30%;
        font-size: 1rem;
        padding: 0.5em 0;
    }

    #footer > .devs {
        padding-top: 2em;
        margin: 0 0 0 89%;
    }
    .sidebar > .dark > .circle{
        left: 46.25rem;
        bottom: 14.5rem;
    }
    .navigation{
        padding-bottom: 22.5em ;
        padding-right: 9em;
    }
}
/*Large screen */
@media (min-width:1280px) and (max-width:1536px) {
    .navigation{
        padding-bottom: 19.5em;
        padding-right: 7em;
    }
    .sidebar > .dark > .circle{
        left: 41.25rem;
        bottom: 11.25rem;
    }
}
/* Very Large screen */
@media (min-width:1537px) {
    #footer > .devs {
        padding-top: 2em;
        margin: 0 0 0 94.6%;
    }
    .sidebar > .dark > .circle{
        left: 39.25rem;
        bottom: 9.25rem;
    }
}

:root{
    --primary-color:white;
    --secondary-color:black;
}
.dark-theme{
    --primary-color:black;
    --secondary-color:white;
}
.fa-sun{
    position: relative;
    left: 23%;
    top: 22%;
}