@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

/*login page*/
.form {
    background-color: #fff;
    display: block;
    padding: 1rem;
    position: relative;
    justify-content: center;
    max-width: 50vw;
    border-block: solid;
    box-shadow: 0 0 5px black;

}

.loginform {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20vh;


}

.form-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: #000;
}

.input-container {
    position: relative;

}

.input-container input,
.form button {
    outline: none;
    border: 1px solid #e5e7eb;
    margin: 8px 0;
}

.form-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: #000;

}

.input-container {
    position: relative;
}

.input-container input .form button {
    outline: none;
    border: 1px solid #e5e7eb;
    margin: 8px 0;
    width: 30em;
}

.input-container input {
    background-color: #fff;
    padding: 1rem;
    padding-right: 3rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 30em;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.input-container span {
    display: grid;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    place-content: center;
}

.input-container span svg {
    color: #9CA3AF;
    width: 1rem;
    height: 1rem;
}

.submit {
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: #000;
    color: #fff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    width: 100%;
    border-radius: 0.5rem;

}

.submit:hover {
    background-color: #242222;
}



header {
    background-color: #598BAF;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    padding: 15px 200px;
}

/*menu button*/
.btn {
    
    border-radius: 5px;
    border: none;
    transition: all 0.5s ease-in-out;
    font-size: 1.5vw;
    padding: 1vh 2vh;
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    background: #598BAF;
    text-decoration-line: none;
}

.btn>i {
    color: white;
}

.btn:hover {
    box-shadow: 0 0 20px 0px #2e2e2e3a;
}

.btn>.icon {
    position: absolute;
    height: 2em;
    width: 4em;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}



.btn:hover .icon {
    width: 3em;
}

.btn>div {
    color: #fff;
    text-decoration: none;
    padding-left: 2vw;
}

.btn>div:hover {
    transition: all 0.5s;

}



.btn :hover .icon {
    width: 3em;
}



.btn:active .icon {
    transform: scale(0.85);

}

.loginpage {

    padding-bottom: 30em;

}

.password {
    padding-bottom: 9vw;

}

.username {
    padding-bottom: 1em;
    padding-top: 4em;

}



/*noo comment -_-*/
@media (min-width:615px) and (max-width:991px) {
    .input-container input {
        width: 20em;
    }
}

@media (min-width:555px) and (max-width:615px) {
    .input-container input {
        width: 17em;

    }
}

@media (min-width:395px) and (max-width:555px) {
    .input-container input {
        width: 12em;

    }
}
@media (min-width:280px) and (max-width:395px) {
    .input-container input {
        width: 10em;
    }
    .form{
        width: 14em;
    }
}
