@import url( "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background-color: var(--background-color4);
    max-width: 100%;
    overflow-x: hidden;
}

header {
    height: 70px;
    width: 100vw;
    padding: 0 30px;
    background-color: var(--background-color1);
    position: fixed;
    z-index: 100;
    box-shadow: 1px 1px 15px rgba(161, 182, 253, 0.825);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo > img {
    width: 7em;
}

.icn {
    height: 30px;
}

.menuicn {
    cursor: pointer;
}



.main-container {
    display: flex;
    width: 100vw;
    position: relative;
    top: 70px;
    z-index: 1;
}



.main {
    /* height: calc(100vh - 70px); */
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 40px 30px 30px 30px;
}

    .main::-webkit-scrollbar-thumb {
        background-image: linear-gradient(to bottom, rgb(0, 0, 85), rgb(0, 0, 50));
    }

    .main::-webkit-scrollbar {
        width: 5px;
    }

    .main::-webkit-scrollbar-track {
        background-color: #9e9e9eb2;
    }

.box-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.nav {
    min-height: 91vh;
    width: 250px;
    background-color: var(--background-color2);
    position: absolute;
    top: 0px;
    left: 00;
    box-shadow: 1px 1px 10px rgba(198, 189, 248, 0.825);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    padding: 30px 0 20px 10px;
}

.navcontainer {
    height: calc(100vh - 70px);
    width: 250px;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 0.5s ease-in-out;
}

    .navcontainer::-webkit-scrollbar {
        display: none;
    }

.navclose {
    width: 80px;
}

.nav-option {
    width: 250px;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 30px 0 20px;
    gap: 20px;
    transition: all 0.1s ease-in-out;
}
a{
    text-decoration-line: none;
    color: black;
}

    .nav-option:hover {
        border-left: 5px solid #a2a2a2;
        background-color: #dadada;
        cursor: pointer;
    }

.nav-img {
    height: 30px;
}

.nav-upper-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.option5 {
    border-left: 5px solid black;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.6s;
}

    .option5:hover {
        border-left: 5px solid black;
        background-color: rgb(76, 75, 75);
    }
    .main {
        height: calc(100vh - 70px);
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 40px 30px 30px 30px;
    }
    .main::-webkit-scrollbar {
        width: 5px;
    }

    .main::-webkit-scrollbar-track {
        background-color: #9e9e9eb2;
    }

.box-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}
.report-container {
    min-height: 500px;
    max-width: 1200px;
    margin: 0px auto 0px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 3px 3px 10px rgb(188, 188, 188);
    padding: 20px 20px 20px 20px;
}
.Title{
    font-family: 'Bebas Neue',sans-serif;
    font-size: 3em;
}
::-webkit-file-upload-button{
    background-color: black;
    padding: 0.5em;
    color: white;
    font-family: 'Bebas Neue' ,sans-serif;
    font-size: 1.2em;
    border-radius: 0.5em;
    padding:0.5em 1em;
    width: 35%;
    /* min-width: 10em;
    max-width: 20em; */
    margin-right: 4.5em;
    height: 100%;
}
input{
    width: 100%;
}
.change{
    width: 10em;
    border-radius: 0.5em;
    font-size: 1em;
    max-width: 7em;
}
.options{
    display: flex;
    width: 30%;
    justify-content: space-between;
}
.input-box{
    margin-bottom: 15px;
    width: calc(100%/ 2 - 20px);
}
.input-box > ,details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.input-box >input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all .3s ease;
}
.warning{
    color: red;
    display: none;
    padding-top: 0.5em;
}
.warning > i{
    padding-right: 0.5em;
}
.Addform,.Deleteform,.Editform{
    display: none;
    padding: 2em 0;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
}

#Desc{
    padding: 0.5em;
    width: 100%;
    min-height: 3em;
}
input[type='date']{
    padding-right: 0.5em;
}
#eventcover{
    padding-left: 0;
    border: 0;
}
.finalbutton{
    background-color: white;
    color: black;
    font-family: 'Bebas Neue' ,sans-serif;
    width: 5em;
    font-size: 1.5em;
    border-radius: 0.5em;
    transition: 0.6s;
}
.finalbutton:hover{
    transform: scale(1.1);

}
.Deleteform > .input-box,.Editform > .input-box,.Addform > .input-box{
    display: flex;
    flex-direction: column;
}
#events,#pictures{
    font-size: 1.2em;
    border-radius: 0.2em;
}
/* Responsive CSS Here */
@media screen and (max-width: 950px) {
    ::-webkit-file-upload-button{
        width: 45%;
    }
    .nav-img {
        height: 25px;
    }

    .nav-option {
        gap: 30px;
    }

        .nav-option h3 {
            font-size: 15px;
        }

    .report-topic-heading,
    .item1,
    .items {
        width: 800px;
    }
}

@media screen and (max-width: 850px) {
    .nav-img {
        height: 30px;
    }

    .nav-option {
        gap: 30px;
    }

        .nav-option h3 {
            font-size: 20px;
        }

    .report-topic-heading,
    .item1,
    .items {
        width: 700px;
    }

    .navcontainer {
        width: 100vw;
        position: absolute;
        transition: all 0.6s ease-in-out;
        top: 0;
        left: -100vw;
    }

    .nav {
        width: 100%;
        position: absolute;
    }

    .navclose {
        left: 00px;
    }

    .searchbar {
        display: none;
    }

    .main {
        padding: 40px 30px 30px 30px;
    }

    .searchbar2 {
        width: 100%;
        display: flex;
        margin: 0 0 40px 0;
        justify-content: center;
    }

        .searchbar2 input {
            width: 250px;
            height: 42px;
            border-radius: 50px 0 0 50px;
            background-color: var(--background-color3);
            padding: 0 20px;
            font-size: 15px;
            border: 2px solid var(--secondary-color);
        }
}

@media screen and (max-width: 490px) {
    ::-webkit-file-upload-button{
        width: 70%;
    }
    .message {
        display: none;
    }

    .logosec {
        width: 100%;
        justify-content: space-between;
    }



    .menuicn {
        height: 25px;
    }

    .nav-img {
        height: 25px;
    }

    .nav-option {
        gap: 25px;
    }

        .nav-option h3 {
            font-size: 12px;
        }

    .nav-upper-options {
        gap: 15px;
    }

    .recent-Articles {
        font-size: 20px;
    }

    .report-topic-heading,
    .item1,
    .items {
        width: 550px;
    }
}

@media screen and (max-width: 400px) {
    .recent-Articles {
        font-size: 17px;
    }

    .view {
        width: 60px;
        font-size: 10px;
        height: 27px;
    }

    .report-header {
        height: 60px;
        padding: 10px 10px 5px 10px;
    }

    .searchbtn img {
        height: 20px;
    }
}

@media screen and (max-width: 320px) {
    .recent-Articles {
        font-size: 12px;
    }

    .view {
        width: 50px;
        font-size: 8px;
        height: 27px;
    }

    .report-header {
        height: 60px;
        padding: 10px 5px 5px 5px;
    }

    .t-op {
        font-size: 12px;
    }

    .t-op-nextlvl {
        font-size: 10px;
    }

    .report-topic-heading,
    .item1,
    .items {
        width: 300px;
    }

    .report-body {
        padding: 10px;
    }

    .label-tag {
        width: 70px;
    }

    .searchbtn {
        width: 40px;
    }

    .searchbar2 input {
        width: 180px;
    }
}

